In [13]:
SELECT SZALLAS_FK, COUNT(SZOBA_ID) AS SzobakSzama
FROM Szoba
GROUP BY SZALLAS_FK;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Szoba'.

In [14]:
SELECT KLIMAS, COUNT(SZOBA_ID) AS SzobakSzama
FROM Szoba
GROUP BY KLIMAS;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Szoba'.

In [15]:
SELECT *,
       RANK() OVER (PARTITION BY SZALLAS_FK ORDER BY SZOBA_SZAMA) AS SzobaRang
FROM Szoba;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Szoba'.

In [3]:
SELECT SZALLAS_FK, SUM(FEROHELY) AS OsszFerohely
FROM Szoba
GROUP BY SZALLAS_FK;

SZALLAS_FK,OsszFerohely
1,31
2,11
3,22
4,37
5,27
6,83
7,16
8,93
9,13
10,59
11,12
12,123
13,29
14,10
15,30
16,43
17,36
18,8
19,8
20,24

In [4]:
SELECT SZOBA_ID, SZOBA_SZAMA, FEROHELY,
       AVG(FEROHELY) OVER () AS AtlagosFerohely
FROM Szoba;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Szoba'.

In [5]:
ALTER TABLE Szoba
ADD FOGLALT BOOL NULL;

: Msg 4902, Level 16, State 1, Line 1
Cannot find the object "Szoba" because it does not exist or you do not have permissions.

In [6]:
SELECT SZOBA_ID, SZOBA_SZAMA, FOGLALT
FROM Szoba WHERE FOGLALT = 'True';

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'Szoba'.